<div class="container">
  <div class="row">
    
    <div class="col-md-4 textarea">
      <h2>Email Template</h2>
      <br>

      <textarea [(ngModel)]="myTitle" (ngModelChange)="onChange($event)" placeholder="A Sample Template" class="input" rows="13" cols="40"></textarea>
   <button (click)="clear()" class="btn btn-light clear">CLEAR</button>
      
      <br>
      
      <button class="btn btn-primary save_template" (click)="save()" >SAVE TEMPLATE</button>
      
    </div>
    
    <div class="col-md-4">
      <h2>Preview</h2>
      <br>
      <div id="sample1" [froalaEditor]="titleOptions" [(froalaModel)]="myTitle"></div>
     
    </div>
    <div class="col-md-4">
      <h2>Insert Field</h2><br>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-light" name="doctor_name" #doctor_name (click)="getButtonText(doctor_name)">
            Doctor_name
          </button>
        </div>
        <div class="col-md-6 right">
          <button class="btn btn-light" name="patient_name" #patient_name (click)="getButtonText(patient_name)">
            Patient_name
          </button>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-light" name="dob" #dob (click)="getButtonText(dob)">
            DOB
          </button>
        </div>
        <div class="col-md-4 right">
          <button class="btn btn-light" name="age" #age (click)="getButtonText(age)">
            Age
          </button>
        </div>
        <div class="col-md-4 right_gender_full">
          <button class="btn btn-light" name="gender_full" #gender_full (click)="getButtonText(gender_full)">
            Gender_Full
          </button>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-light" name="gender_half" #gender_half (click)="getButtonText(gender_half)">
            Gender_Half
          </button>
        </div>
        <div class="col-md-6 right">
          
        <button class="btn btn-light" name="practice_name" #practice_name (click)="getButtonText(practice_name)">
          Practice_Name
        </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-light" name="practice_link" #practice_link (click)="getButtonText(practice_link)">
            Practice_Link
          </button>
        </div>
        <div class="col-md-6 right">
          <button class="btn btn-light" name="doctor_login" #doctor_login (click)="getButtonText(doctor_login)">
            Doctor_Login
          </button>
        </div>
      </div>
     
    </div>
  </div>

</div>