textarea{
    border-radius:10px;
    padding:10px;
}
.center {
    text-align: center;
}
.container {
    padding-top:30px;
}
.clear {
    position:relative;
    bottom:3em;
    left:15em;
}
.save_template{
    text-align: left;
}
.right{
    right:4rem;
    
}
.right_gender_full{
    right:8rem;
}